@media only screen and (max-width: 1300px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 50px;
    margin: 0;
  }

  .left {
    align-items: center;
    padding: 0;
  }

  .left .details {
    align-items: center;
  }

  .right img {
    width: 500px;
  }

  .shop {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  .display {
    max-width: 1000px;
    column-gap: 100px;
    margin: 0 auto;
  }

  .display a {
    width: max-content;
    justify-self: center;
  }

  .sidebar {
    padding: 0;
    align-items: center;
  }

  .categories {
    flex-direction: row;
    column-gap: 50px;
  }

  .item-details {
    margin-top: 50px;
    align-items: center;
  }

  .price-desc {
    align-items: center;
  }

  .cart {
    width: 90%;
    margin: 0 auto;
  }

  .cart-item-details h1 {
    font-size: 18px;
  }

  .quant-price {
    font-size: 21px;
  }

  .order-total {
    column-gap: 70px;
  }

  .checkout {
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .head-container {
    display: flex;
    background-color: transparent;
    color: white;
    flex-direction: column;
    padding: 10px 0;
    row-gap: 40px;
  }

  .head-container h1 {
    font-size: 100px;
  }

  .head-container nav {
    justify-content: space-evenly;
  }

  .left {
    text-align: center;
  }

  .left .details {
    align-items: center;
    padding: 0 30px;
  }

  .left a {
    margin-bottom: 40px;
  }

  .right img {
    width: 400px;
  }

  .contact {
    row-gap:50px;
  }

  .social {
    flex-wrap: wrap;
    padding: 20px 50px 0 50px;
    font-size: 70px;
    justify-content: center;
    row-gap: 40px;
    column-gap: 70px;
  }

  .contact img {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 40px;
  }

  .shop {
    width: max-content;
    align-items: center;
  }

  .sidebar {
    align-items: flex-start;
    padding-left: 50px;
  }

  .categories {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .display {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }

  .item-details {
    width: 100vw;
  }

  .item-details h1 {
    font-size: 30px;
    text-align: center;
  }

  .price-desc {
    align-items: center;
  }

  .price-desc p {
    font-size: 20px;
  }

  .actions {
    margin-bottom: 40px;
  }

  .btn { 
    width: 90%;
  }

  .cart {
    margin-bottom: 86px;
  }

  .cart-item-details {
    margin-left: 20px;
  }

  .cart-img-container img {
    max-width: 100%;
    max-height: 90%;
  }

  .quant-price {
    flex-direction: column;
  }

  .quant-price p:last-of-type {
    margin-left: 0;
  }

  .order-total {
    position: fixed;
    width: 90%;
    padding: 10px 0;
    flex-direction: column;
  }

  .order-total h1 {
    font-size: 25px;
  }
  
  .checkout {
    font-size: 20px;
    padding: 5px 20px;
  }
  
  .checkout:hover {
    background-color: rgb(139, 13, 38);
  }

  .quant-price .quant-control {
    margin: 0;
  }
  
  .mobile-hidden {
    display: none;
  }
}