.shop {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: white;
}

.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 40px 20px 0 200px;
  height: 100vh;
}

.current-view {
  font-size: 20px;
}

.current-view > h1:first-of-type {
  color: crimson;
  font-size: 25px;
}

.categories {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-size: 15px;
}

.categories h1 {
  cursor: pointer;
  width: max-content;
  transition: color 0.15s ease-in-out;
}

.categories h1:hover {
  color: crimson;
}

.categories h1::before {
  content: '| ';
  color: crimson;
}

.categories h1::after {
  content: '';
  width: 0;
  height: 1px;
  background-color: crimson;
  margin-top: 2px;
  display: block;
  transition: width 0.15s ease-in-out;
}

.categories h1:hover::after {
  width: 100%;
}

.display {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  height: max-content
}